.chess-row {
  position: relative;
  display: flex;
  overflow: hidden;

  &__content-l {
    width: 50%;
  }

  &__picture-l {
    width: 50%;
  }

  &--content-left {
    color: #fff;
  }

  &--content-right {
    flex-direction: row-reverse;
    color: #222;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__content-wrap {
    padding-top: rem(105);
    padding-bottom: rem(115);

    @media(min-width: $md + 1px) {
      max-width: ($md - 30px) / 2;
    }

    @media(min-width: $lg + 1px) {
      max-width: 600px;
    }

    &--left {
      margin-left: auto;
      margin-right: 0;
      padding-right: 95px;
    }

    &--right {
      margin-right: auto;
      margin-left: 0;
      padding-left: 65px;
    }
  }

  &__title-l {
    margin-bottom: rem(40);
  }

  &__title-top {
    margin-bottom: 15px;
    font: 13px $gotham-book;
  }

  &__date {
    position: relative;
    padding-right: 15px;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      height: 100%;
      width: 2px;
      background-color: #fff;
    }
  }

  &__culture {
    padding-left: 15px;
  }

  &__title-name {
    font-size: 25px;
  }

  &__content-text {
    font: 15px/24px $gotham-book;
  }

  &__par {
    margin-bottom: rem(33);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.design {
  &-chess-row {
   color: #fff;
 }

  &-image {
   width: 390px;
   height: 650px;
  }

  &-picture-l {
    padding: 50px;
  }
}
