<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    include modules/styles&scripts
    title Creatives

body.body
  include modules/top-section
  include modules/awesome-section
  include modules/chess-sections

