.section.top-section#top-section
  include header
  .top-section__main
    .wrapper
      .top-section__inside

        .top-section__brand-l.top-brand
          h1.top-brand__title Creatives
          span.top-brand__sign Power by Creatives

        .top-section__scroll-l.scroll-down#scroll-down-l
          span.scroll-down__text Scroll Down
          button.scroll-down__button#scroll-down-button(type="button")
            i.fa.fa-angle-down


