html {
  font-size: $html-fz;
}

@media (max-width: $md) {
  html {
    font-size: 14px;
  }
}

@media (max-width: $sm) {
  html {
    font-size: 12px;
  }
}

html {
  font-family: $roboto;
}

.section {
  position: relative;
}

@import 'blocks/top-block';
