@media (max-width: $md) { // $md: 992px;
  .header {

    @media(min-width: $sm + 1px) {
      &__nav-l {
        position: absolute;
        top: 18px; // 18px = paddint-top of .header__inside
        right: 10px;
        padding-top: 22px;
      }

      &__social-l {
        margin-right: 130px;
        padding-top: 25px;
      }
    }

  }

  .top-nav {
    &__list {
      position: relative;
      top: 35px;
      right: 0;
      text-align: right;
    }

    &__item {
      padding: 10px 0;
      display: block;

      &:first-child {
        padding-left: 0;
      }
    }

    &__link {
      font-size: 25px;

      &:before {
        width: 6px;
        height: 100%;
        bottom: auto;
        left: -44px;
      }
    }
  }

  .top-social {
    &__icon {
      padding: 0 15px;
      font-size: 27px;
    }
  }

  .top-brand {
    &__title {
      font-size: 100px;
    }
  }

  .chess-row {
    text-align: center;

    &--odd {
      .chess-row__picture-l {
        &:before {
          background-color: rgba(0, 0, 0, 0.85);
        }
      }
    }

    &--even {
      .chess-row__picture-l {
        &:before {
          background-color: rgba(255, 255, 255, 0.85);
        }
      }
    }

    &__picture-l {
      position: absolute;
      width: 100%;
      z-index: 0;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }

    &__content-l {
      width: 100%;
      z-index: 1;
    }
  }

  .chess-content__wrap {
    margin-right: auto;
    margin-left: auto;
    padding: 3rem 15px;
  }

  .chess-content__title-l {
    margin-bottom: 1.5rem;
  }



}
