@mixin stretch {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}


@function rem($val) {
	@return	($val/#{$html-fz-clear}rem);
}


@mixin placeholder-color($val) {
  &::-webkit-input-placeholder {
    color: $val;
  }
  &::-moz-placeholder {
    color: $val;
  }
  &:-ms-input-placeholder {
    color: $val;
  }
  &:-moz-placeholder {
    color: $val;
  }
  &:placeholder {
    color: $val;
  }
}
