.top-section {
  background: #2f2d2c url('../img/top-section.png') no-repeat center center / cover;
}

.awesome-section {
  background-color: $blue;
}

.chess-row {

  &--content-left {
    background-color: #222;
  }

  &--content-right {
    background-color: #f3f3f3;
  }
}

.notes-section {
  background-color: $blue;
}
