.top-section {
  background: #2f2d2c url('../img/top-section.png') no-repeat center center / cover;
}

.awesome-section {
  background-color: $blue;
}

.chess-row {

  &--odd {
    background-color: #222;
  }

  &--even {
    background-color: #fff;
  }

}
