$roboto: 'Roboto', sans-serif;
$myriad: 'Myriad Pro', sans-serif;
$gotham: 'Gotham', serif;
$open-sans: 'Open Sans', sans-serif;

// html font-size
$html-fz: 16px;
$html-fz-clear: 16; // for function in mixins

$blue: #11749e;

// GRID
$lg: 1200px;
$md: 992px;
$sm: 670px;
